.wideAppContainer {
  max-width: 1150px;
}

.appContainer {
  max-width: 1050px;
}

.smallNavigation {
  margin-left: 100px;
}

.wideNavigation {
  margin-left: 220px;
}

@media only screen and (max-width: 768px) {
  .smallNavigation {
    margin-left: 0;
  }

  .wideNavigation {
    margin-left: 0;
  }

  .wideAppContainer,
  .appContainer {
    max-width: 100%;
  }
}
